.header {
  margin-top: 45px;
  min-height: 74px;
  border-bottom: 1px solid rgba(84, 84, 84, 1);
  min-width: 282px;
}
.header__image {
  max-height: 33px;
}
@media screen and (max-width: 775px) {
  .header {
    margin: 28px auto 0 auto;
    min-height: 56px;
    min-width: 126px;
  }
  .header__image {
    max-height: 24px;
  }
}
