.header {
  margin-top: 45px;
  height: 74px;
  border-bottom: #545454;
}
.header__line {
  border-bottom: 1px solid #545454;
  flex-grow: 1;
}
@media screen and (max-width: 775px) {
  .header {
    margin: 28px auto 0 auto;
    height: 56px;
    width: 282px;
  }
}
