.profile {
  display: flex;
  align-items: center;
  padding: 40px 0 0;
}
.profile__image {
  width: 120px;
  height: 120px;
  padding: 0;
  opacity: 1;
  border-radius: 50%;
  object-fit: cover;
  background-position: center;
  transition: 0.3s ease-in-out;
}
.profile__avatar {
  position: relative;
}
.profile__avatar-button {
  background: transparent;
  border: none;
  position: absolute;
  width: 26px;
  height: 26px;
  top: 50px;
  left: 50px;
  cursor: pointer;
  opacity: 0;
  background-size: cover;
  transition: 0.3s ease-in-out;
  visibility: hidden;
}
.profile__image:hover .profile__avatar-button {
  background: url(../images/Change_avatar.png) center no-repeat;
  background-color: black;
  opacity: 0.6;
  cursor: pointer;
  visibility: visible;
}
.profile__info {
  display: grid;
  grid-template-areas: "title button" "description description";
  grid-template-columns: minmax(auto, 415px) auto;
  padding: 0;
  grid-gap: 7px 0;
  margin: 0 12px 0 30px;
}
.profile__title {
  font-size: 42px;
  line-height: 1.14;
  font-weight: 500;
  grid-area: title;
  margin: 0;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  max-width: 400px;
  padding: 0;
}
.profile__edit-button {
  background: transparent url(../images/Pen.svg) center no-repeat;
  height: 24px;
  width: 24px;
  border: 1px solid #fff;
  grid-area: button;
  align-self: center;
  margin: 0;
  padding: 0;
}
.profile__edit-button:hover {
  opacity: 0.6;
  cursor: pointer;
}
.profile__description {
  line-height: 1.21;
  font-size: 18px;
  font-weight: 400;
  grid-area: description;
  margin: 0;
  padding: 0;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  max-width: 400px;
}
.profile__add-button {
  background: transparent url(../images/Vector.svg) center no-repeat;
  height: 50px;
  width: 150px;
  border: 2px solid #fff;
  border-radius: 2px;
  margin-left: auto;
  padding: 0;
  flex-shrink: 3;
}
.profile__add-button:hover {
  opacity: 0.6;
  cursor: pointer;
}

@media screen and (max-width: 620px) {
  .profile {
    flex-direction: column;
  }
  .profile__info {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    justify-content: center;
    grid-gap: 14px 10px;
    margin-right: 12px;
    margin-left: 12px;
  }
  .profile__description {
    width: 100%;
    text-align: center;
    font-size: 14px;
    line-height: 1.2;
  }
  .profile__add-button {
    margin: 36px 0;
    width: 282px;
  }
  .profile__title {
    text-align: center;
    margin: 30px 0 0;
    font-size: 22px;
    line-height: 1.2;
    max-width: 260px;
  }
  .profile__edit-button {
    height: 18px;
    width: 18px;
    margin-top: 30px;
  }
  .profile__image {
    padding-right: 0;
  }
}
